/*************
General styling / Elements
**************/

/*************
Images
**************/

/*************
Buttons / Links / li / inputs
**************/

.newBookButton {
  display: block;
}

/*************
Typography
**************/

.books-heading {
  font-weight: 700;
  margin-bottom: 1rem;
}

/*************
Layout
**************/

.book-container {
  margin-bottom: 4rem;
}

/*************
Media Queries
**************/
