/*************
General styling / Elements
**************/

/*************
Images
**************/

/*************
Buttons / Links / li / inputs
**************/

/*************
Typography
**************/

/*************
Layout
**************/

.footer {
  background-color: darkslategray;
  color: var(--wht);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: grid;
  place-items: center;
}

/*************
Media Queries
**************/
